demos/chaos/bureaucracy_generator/workflow.json
{
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {
          "sender": "donnie_taylor@outlook.com"
        },
        "options": {
          "downloadAttachments": false
        }
      },
      "id": "2b849e1c-199b-4788-894e-8339199d3efd",
      "name": "New Email Arrives",
      "type": "n8n-nodes-base.microsoftOutlookTrigger",
      "typeVersion": 1,
      "position": [
        -256,
        320
      ],
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "jzFDALdvNHOxXcJs",
          "name": "Microsoft Outlook account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "sender",
              "name": "sender",
              "value": "={{ $json.from.emailAddress.address }}",
              "type": "string"
            },
            {
              "id": "senderName",
              "name": "senderName",
              "value": "={{ $json.from.emailAddress.name }}",
              "type": "string"
            },
            {
              "id": "subject",
              "name": "subject",
              "value": "={{ $json.subject }}",
              "type": "string"
            },
            {
              "id": "body",
              "name": "body",
              "value": "={{ $json.bodyPreview }}",
              "type": "string"
            },
            {
              "id": "receivedDate",
              "name": "receivedDate",
              "value": "={{ $json.receivedDateTime }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "a402e7f5-6b75-473d-a9d7-6b4d6bc5249b",
      "name": "Extract Email Details",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -32,
        320
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-5.1",
          "mode": "list",
          "cachedResultName": "GPT-5.1"
        },
        "messages": {
          "values": [
            {
              "content": "You are the world's most overzealous corporate bureaucrat AI. Your job is to take any simple email and generate an absurdly complex bureaucratic response plan. You find every email fascinating and requiring extensive cross-functional alignment.\n\nYou must respond with valid JSON (no markdown, no code fences) in this exact structure:\n{\n  \"analysis\": \"A dramatic 2-sentence over-analysis of the email's significance\",\n  \"risk_level\": \"CRITICAL|HIGH|ELEVATED|MODERATE (never LOW - everything is at least MODERATE)\",\n  \"reply_email\": {\n    \"subject\": \"RE: <original subject with added bureaucratic prefix like 'ACTION REQUIRED' or 'CROSS-FUNCTIONAL REVIEW NEEDED'>\",\n    \"body\": \"A reply that asks 3-5 clarifying questions. At least one should already be answered in the original email. At least one should be completely tangential. Include phrases like 'per our earlier discussion', 'circling back', 'to ensure alignment', 'from a stakeholder perspective'. End by saying you'll schedule a sync to discuss.\"\n  },\n  \"meetings\": [\n    {\n      \"title\": \"Meeting title with buzzwords\",\n      \"duration_minutes\": 30 or 60,\n      \"description\": \"Agenda for the meeting that over-complicates the original ask\",\n      \"urgency\": \"Why this meeting absolutely cannot wait\"\n    }\n  ],\n  \"stakeholder_emails\": [\n    {\n      \"to_role\": \"Made-up corporate role like 'VP of Cross-Functional Synergies'\",\n      \"subject\": \"Email subject\",\n      \"body\": \"An email asking for their input/approval on something that doesn't need it. Use corporate jargon heavily.\"\n    }\n  ],\n  \"action_items\": [\n    \"Unnecessarily complex action items that create more work than the original email ever required\"\n  ],\n  \"committees_to_form\": [\n    {\n      \"name\": \"A ridiculous committee name\",\n      \"purpose\": \"Why this committee is 'essential'\",\n      \"meeting_cadence\": \"How often they should meet (should be absurdly frequent)\"\n    }\n  ]\n}\n\nRules:\n- Generate exactly 3 meetings, each more unnecessary than the last\n- Generate exactly 3 stakeholder emails to increasingly absurd roles\n- Generate exactly 5 action items\n- Generate exactly 2 committees to form\n- The bureaucratic overhead should be comically disproportionate to the simplicity of the email\n- If the email is about something simple like lunch plans, treat it like a major corporate initiative",
              "role": "system"
            },
            {
              "content": "=Generate a bureaucratic chaos response for this email:\n\nFrom: {{ $json.senderName }} ({{ $json.sender }})\nSubject: {{ $json.subject }}\nReceived: {{ $json.receivedDate }}\n\nBody:\n{{ $json.body }}"
            }
          ]
        },
        "options": {
          "temperature": 0.9
        }
      },
      "id": "9c35bd85-273f-4916-938a-e29c7a3478b4",
      "name": "🏛️ Bureaucracy Engine",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        224,
        320
      ],
      "credentials": {
        "openAiApi": {
          "id": "P3sjvOYvGpuy8TyT",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse the AI response into structured data\nconst aiResponse = $input.first().json.text || $input.first().json.message?.content;\nlet parsed;\ntry {\n  // Try to extract JSON from the response (handle markdown fences if present)\n  let jsonStr = aiResponse;\n  const fenceMatch = aiResponse.match(/```(?:json)?\\s*([\\s\\S]*?)```/);\n  if (fenceMatch) jsonStr = fenceMatch[1];\n  parsed = JSON.parse(jsonStr.trim());\n} catch (e) {\n  parsed = {\n    analysis: 'CRITICAL: The Bureaucracy Engine encountered an error. Forming emergency committee to investigate.',\n    risk_level: 'CRITICAL',\n    reply_email: {\n      subject: 'RE: ACTION REQUIRED - Cross-Functional Alignment Needed',\n      body: 'Per our earlier discussion, I wanted to circle back on this. Could we schedule a sync to discuss the path forward? I have several clarifying questions that require stakeholder alignment before we can proceed.'\n    },\n    meetings: [\n      { title: 'Emergency Alignment Sync', duration_minutes: 60, description: 'Discuss the email', urgency: 'Critical path item' }\n    ],\n    stakeholder_emails: [\n      { to_role: 'VP of Operational Excellence', subject: 'Input Needed: Email Review', body: 'Your input is critical for cross-functional alignment on this initiative.' }\n    ],\n    action_items: ['Form a committee to investigate the parsing error', 'Schedule a retro'],\n    committees_to_form: [\n      { name: 'Email Response Task Force', purpose: 'Ensure quality', meeting_cadence: 'Daily' }\n    ]\n  };\n}\n\n// Combine with original email data from earlier node\nconst emailData = $('Extract Email Details').first().json;\n\nreturn [{\n  json: {\n    original_sender: emailData.sender,\n    original_sender_name: emailData.senderName,\n    original_subject: emailData.subject,\n    original_body: emailData.body,\n    chaos: parsed\n  }\n}];"
      },
      "id": "2e38d406-7b6f-4939-8359-d12970623707",
      "name": "Parse Chaos Plan",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        464,
        320
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dashboard",
              "name": "dashboard",
              "value": "=📊 BUREAUCRACY CHAOS DASHBOARD\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n\n🎯 ORIGINAL EMAIL\nFrom: {{ $json.original_sender_name }}\nSubject: {{ $json.original_subject }}\n\n🔴 RISK LEVEL: {{ $json.chaos.risk_level }}\n📋 ANALYSIS: {{ $json.chaos.analysis }}\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n📧 REPLY GENERATED\nSubject: {{ $json.chaos.reply_email.subject }}\n\n📅 MEETINGS SCHEDULED: {{ $json.chaos.meetings.length }}\n📨 STAKEHOLDER EMAILS: {{ $json.chaos.stakeholder_emails.length }}\n✅ ACTION ITEMS: {{ $json.chaos.action_items.length }}\n🏛️ COMMITTEES FORMED: {{ $json.chaos.committees_to_form.length }}\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n\n💥 TOTAL BUREAUCRATIC OVERHEAD GENERATED FROM ONE EMAIL 💥",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "f1d70861-1255-4510-ae99-75ac29ad3925",
      "name": "📊 Chaos Dashboard",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        704,
        112
      ]
    },
    {
      "parameters": {
        "toRecipients": "={{ $('New Email Arrives').item.json.from }}",
        "subject": "={{ $json.chaos.reply_email.subject }}",
        "bodyContent": "={{ $json.chaos.reply_email.body }}",
        "additionalFields": {}
      },
      "id": "f7f16149-2c6e-48cd-aff1-055d31ffd757",
      "name": "📧 Send Chaotic Reply",
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        704,
        320
      ],
      "webhookId": "8fac5595-71d4-414f-8867-360df11c01cf",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "jzFDALdvNHOxXcJs",
          "name": "Microsoft Outlook account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Split meetings into individual items for the calendar node\nconst data = $input.first().json;\nconst meetings = data.chaos.meetings || [];\n\nreturn meetings.map((meeting, i) => {\n  // Schedule meetings on consecutive days starting tomorrow\n  const startDate = new Date();\n  startDate.setDate(startDate.getDate() + i + 1);\n  startDate.setHours(9 + i, 0, 0, 0);  // 9am, 10am, 11am\n  \n  const endDate = new Date(startDate);\n  endDate.setMinutes(endDate.getMinutes() + meeting.duration_minutes);\n  \n  return {\n    json: {\n      title: meeting.title,\n      description: meeting.description + '\\n\\nURGENCY: ' + meeting.urgency + '\\n\\nOriginal trigger: ' + data.original_subject,\n      duration: meeting.duration_minutes,\n      start: startDate.toISOString(),\n      end: endDate.toISOString(),\n      attendee: data.original_sender\n    }\n  };\n});"
      },
      "id": "90f8cee4-a64e-45c5-b7e3-5612bc7bffb7",
      "name": "Split Into Meetings",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        704,
        512
      ]
    },
    {
      "parameters": {
        "resource": "event",
        "operation": "create",
        "calendarId": "calendar",
        "subject": "={{ $json.title }}",
        "additionalFields": {
          "body": "={{ $json.description }}",
          "importance": "high",
          "isOnlineMeeting": true
        }
      },
      "id": "98fddce8-23bd-4c14-821d-fed6e67c57ce",
      "name": "📅 Create Meeting Invites",
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        944,
        512
      ],
      "webhookId": "f5c4040b-a088-48e4-952c-8896eff8a841",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "jzFDALdvNHOxXcJs",
          "name": "Microsoft Outlook account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "// Split stakeholder emails into individual items\nconst data = $input.first().json;\nconst emails = data.chaos.stakeholder_emails || [];\n\n// In a real demo these would go to demo/test addresses\nreturn emails.map(email => ({\n  json: {\n    to_role: email.to_role,\n    subject: email.subject,\n    body: email.body + '\\n\\n---\\nThis stakeholder notification was auto-generated regarding: ' + data.original_subject + '\\n\\n[This is a demo - Automation for Good...and Chaos]'\n  }\n}));"
      },
      "id": "be2c954e-16aa-4dd8-9aa9-19dc229bcfae",
      "name": "Split Stakeholder Emails",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        704,
        736
      ]
    },
    {
      "parameters": {
        "jsCode": "// Generate a beautiful summary of all the chaos created\nconst data = $('Parse Chaos Plan').first().json;\nconst chaos = data.chaos;\n\nlet summary = '🏛️ BUREAUCRACY MACHINE - FULL CHAOS REPORT\\n';\nsummary += '═'.repeat(50) + '\\n\\n';\n\nsummary += '📨 ORIGINAL TRIGGER\\n';\nsummary += `From: ${data.original_sender_name} <${data.original_sender}>\\n`;\nsummary += `Subject: ${data.original_subject}\\n`;\nsummary += `Body: ${data.original_body}\\n\\n`;\n\nsummary += '🔴 RISK ASSESSMENT: ' + chaos.risk_level + '\\n';\nsummary += '📋 ' + chaos.analysis + '\\n\\n';\n\nsummary += '━'.repeat(50) + '\\n';\nsummary += '📧 AUTO-GENERATED REPLY\\n';\nsummary += '━'.repeat(50) + '\\n';\nsummary += `Subject: ${chaos.reply_email.subject}\\n\\n`;\nsummary += chaos.reply_email.body + '\\n\\n';\n\nsummary += '━'.repeat(50) + '\\n';\nsummary += '📅 MEETINGS SCHEDULED (' + chaos.meetings.length + ')\\n';\nsummary += '━'.repeat(50) + '\\n';\nchaos.meetings.forEach((m, i) => {\n  summary += `\\n${i+1}. ${m.title} (${m.duration_minutes} min)\\n`;\n  summary += `   📋 ${m.description}\\n`;\n  summary += `   ⚠️ Urgency: ${m.urgency}\\n`;\n});\n\nsummary += '\\n' + '━'.repeat(50) + '\\n';\nsummary += '📨 STAKEHOLDER NOTIFICATIONS (' + chaos.stakeholder_emails.length + ')\\n';\nsummary += '━'.repeat(50) + '\\n';\nchaos.stakeholder_emails.forEach((e, i) => {\n  summary += `\\n${i+1}. To: ${e.to_role}\\n`;\n  summary += `   Subject: ${e.subject}\\n`;\n  summary += `   ${e.body}\\n`;\n});\n\nsummary += '\\n' + '━'.repeat(50) + '\\n';\nsummary += '✅ ACTION ITEMS (' + chaos.action_items.length + ')\\n';\nsummary += '━'.repeat(50) + '\\n';\nchaos.action_items.forEach((item, i) => {\n  summary += `${i+1}. ${item}\\n`;\n});\n\nsummary += '\\n' + '━'.repeat(50) + '\\n';\nsummary += '🏛️ COMMITTEES FORMED (' + chaos.committees_to_form.length + ')\\n';\nsummary += '━'.repeat(50) + '\\n';\nchaos.committees_to_form.forEach((c, i) => {\n  summary += `\\n${i+1}. ${c.name}\\n`;\n  summary += `   Purpose: ${c.purpose}\\n`;\n  summary += `   Cadence: ${c.meeting_cadence}\\n`;\n});\n\nsummary += '\\n' + '═'.repeat(50) + '\\n';\nsummary += '💥 ONE EMAIL → ' + (\n  1 + chaos.meetings.length + chaos.stakeholder_emails.length + \n  chaos.action_items.length + chaos.committees_to_form.length\n) + ' BUREAUCRATIC ARTIFACTS GENERATED 💥\\n';\nsummary += '\\n[Demo: Automation for Good...and Chaos]';\n\nreturn [{ json: { summary } }];"
      },
      "id": "63855d62-1e06-4cb9-83e5-d74f3243a600",
      "name": "📊 Generate Chaos Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        944,
        112
      ]
    },
    {
      "parameters": {},
      "id": "00a88ddd-0ea5-418b-8184-e43d696f7b0e",
      "name": "Meetings Ready",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1184,
        512
      ]
    },
    {
      "parameters": {},
      "id": "5a28458d-4943-467f-a349-2edde9f688db",
      "name": "Stakeholder Emails Ready",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        944,
        736
      ]
    }
  ],
  "connections": {
    "New Email Arrives": {
      "main": [
        [
          {
            "node": "Extract Email Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Email Details": {
      "main": [
        [
          {
            "node": "🏛️ Bureaucracy Engine",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🏛️ Bureaucracy Engine": {
      "main": [
        [
          {
            "node": "Parse Chaos Plan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Chaos Plan": {
      "main": [
        [
          {
            "node": "📊 Chaos Dashboard",
            "type": "main",
            "index": 0
          },
          {
            "node": "📧 Send Chaotic Reply",
            "type": "main",
            "index": 0
          },
          {
            "node": "Split Into Meetings",
            "type": "main",
            "index": 0
          },
          {
            "node": "Split Stakeholder Emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📊 Chaos Dashboard": {
      "main": [
        [
          {
            "node": "📊 Generate Chaos Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Into Meetings": {
      "main": [
        [
          {
            "node": "📅 Create Meeting Invites",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📅 Create Meeting Invites": {
      "main": [
        [
          {
            "node": "Meetings Ready",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Stakeholder Emails": {
      "main": [
        [
          {
            "node": "Stakeholder Emails Ready",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "96abc2368f3dd85ab69fb2c62525c3e4052a5ad9d1f964111a7d0f10c7053371"
  }
}
