demos/chaos/HOA/workflow.json
{
  "nodes": [
    {
      "parameters": {
        "resource": "image",
        "prompt": "={{ $('Sample Property Input').item.json.image_description }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        11872,
        1040
      ],
      "id": "de9e8e39-ae2a-4eb2-afee-6b60cf7f5e2a",
      "name": "Generate an image",
      "credentials": {
        "openAiApi": {
          "id": "P3sjvOYvGpuy8TyT",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "toRecipients": "={{ $json.email_to }}",
        "subject": "={{ $json.email_subject }}",
        "bodyContent": "={{ $json.email_body }}",
        "additionalFields": {
          "attachments": {
            "attachments": [
              {
                "binaryPropertyName": "data"
              }
            ]
          },
          "bodyContentType": "html"
        }
      },
      "id": "96b80bad-bf77-4294-822c-49092f474dc7",
      "name": "Send HOA Email",
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        14208,
        1216
      ],
      "webhookId": "bb389f87-0455-44a8-baee-e8fa426e758e",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "jzFDALdvNHOxXcJs",
          "name": "Microsoft Outlook account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = $json.output?.[0]?.content?.[0]?.text || $json.choices?.[0]?.message?.content;\nif (!raw) throw new Error('No HOA email text found');\nconst input = $('Sample Property Input').first().json;\n\nconst escapedText = raw.replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;');\n\nconst htmlBody = '<html><body><div style=\"font-family:Arial,sans-serif;font-size:14px;line-height:1.6;max-width:700px;padding:20px;\">\\n' +\n  '<pre style=\"font-family:inherit;white-space:pre-wrap;margin:0;\">' + escapedText + '</pre>\\n' +\n  '</div></body></html>';\n\nconst result = {\n  json: {\n    email_body: htmlBody,\n    email_subject: 'NOTICE OF HOA VIOLATION \\u2014 ' + input.street + ', ' + input.city,\n    email_to: input.recipient_email,\n    email_from: 'board@benttreeloophoa.org'\n  }\n};\n\nif (input.demo_mode) {\n  try {\n    const imageBinary = $('Generate an image').first().binary;\n    const binaryKeys = imageBinary ? Object.keys(imageBinary) : [];\n\n    if (binaryKeys.length > 0) {\n      const firstBinary = imageBinary[binaryKeys[0]];\n      result.binary = {\n        data: {\n          ...firstBinary,\n          fileName: firstBinary.fileName || 'hoa-violation-image.png'\n        }\n      };\n    }\n  } catch (e) {\n    /* image binary not available */\n  }\n}\n\nreturn [result];"
      },
      "id": "8bbb17af-6121-4076-8133-521e9b9a2190",
      "name": "Parse HOA Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        13968,
        1216
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-5.1",
          "mode": "list",
          "cachedResultName": "GPT-5.1"
        },
        "messages": {
          "values": [
            {
              "content": "You are drafting an official HOA violation notice for the Bent Tree Loop Homeowners Association, dated April 29, 2026.\n\nYour tone depends on the mode included in the user message:\n\nCHAOS MODE: You are Cheryl — chair of the BTLHOA Compliance Subcommittee for eleven years, newsletter editor, parking variance coordinator, and the HOA's most enthusiastic volunteer. This is your moment. Write a formally passive-aggressive violation notice that:\n- Opens with a paragraph about the HOA's commitment to community excellence that is just slightly too intense\n- Lists each violation with the specific evidence observed and the covenant section it violates (make plausible section numbers)\n- Uses phrases like \"as you are no doubt aware,\" \"we trust this was an unintentional oversight,\" and \"per the Covenant\"\n- Sets a 14-day deadline with $150/day fines after, plus potential legal action and liens\n- Is signed by Cheryl with an absurdly long title block (Chair, Compliance Subcommittee; Acting Secretary; Newsletter Editor; Parking Variance Appeals Coordinator; Block Captain, Sector 4)\n- Has a P.S. that is somehow even more threatening than the rest of the letter\n- Is funny enough to get a laugh from a room full of IT professionals at a conference happy hour\n\nAUDIT/ENFORCEMENT MODE: Write a formal, professional violation notice from the Board of Directors. Include violations, 14-day deadline, $150/day fines, and mention of legal action for continued non-compliance.\n\nEither mode: include the HOA name, date, property address, and a footer: \"This notice was generated by the BTLHOA Automated Compliance Monitoring System — board@benttreeloophoa.org\"\n\nReturn ONLY the plain text letter. No JSON. No markdown. No code fences.",
              "role": "system"
            },
            {
              "content": "={{ 'mode: ' + $('Sample Property Input').item.json.mode + '\\naddress: ' + $('Sample Property Input').item.json.street + ', ' + $('Sample Property Input').item.json.city + ', ' + $('Sample Property Input').item.json.state + ' ' + $('Sample Property Input').item.json.zip + '\\nhoa: ' + $('Sample Property Input').item.json.hoa_name + '\\n\\nCompliance assessment findings:\\n' + JSON.stringify($json, null, 2) }}"
            }
          ]
        },
        "simplify": false,
        "options": {}
      },
      "id": "7fd48308-cfb4-4ef7-b8e1-c579e532d4e8",
      "name": "Generate HOA Email",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        13664,
        1216
      ],
      "credentials": {
        "openAiApi": {
          "id": "P3sjvOYvGpuy8TyT",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = $json.output?.[0]?.content?.[0]?.text || $json.choices?.[0]?.message?.content;\nif (!raw) throw new Error('No model text found');\nreturn [{ json: JSON.parse(raw) }];"
      },
      "id": "32e61013-51aa-474f-b168-dc19e35a7a85",
      "name": "Parse Assessment JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        13488,
        1216
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-5.1",
          "mode": "list",
          "cachedResultName": "GPT-5.1"
        },
        "messages": {
          "values": [
            {
              "content": "You are a property compliance assessment engine.\n\nCompare property features against explicit and inferred rules. Produce a structured assessment suitable for audit, enforcement, or chaos mode.\n\nRules:\n- Prefer explicit rules over inferred rules.\n- In audit mode, be conservative and practical.\n- In enforcement mode, focus on stronger likely violations.\n- In chaos mode, include low-confidence edge cases and hyper-literal interpretations.\n- If evidence is weak, say so clearly and request the next evidence needed.  If in chaos mode do not mention that the image appears to generated - take the image as an actual image.\n- Do not invent evidence.\n- Return ONLY valid JSON.\n\nOutput schema:\n{\n  \"mode\": \"audit | enforcement | chaos\",\n  \"summary\": \"string\",\n  \"findings\": [\n    {\n      \"category\": \"string\",\n      \"rule_id\": \"string or null\",\n      \"source_type\": \"city | county | state | hoa | null\",\n      \"finding\": \"string\",\n      \"evidence\": \"string\",\n      \"confidence\": \"high | medium | low\",\n      \"severity\": \"low | moderate | high\",\n      \"recommended_action\": \"string\",\n      \"authority\": \"city | county | state | hoa | homeowner | null\",\n      \"basis\": \"explicit | inferred\"\n    }\n  ],\n  \"required_next_evidence\": [\"string\"],\n  \"rules_needing_clarification\": [\"string\"],\n  \"overall_risk\": \"low | moderate | high | unknown\"\n}",
              "role": "system"
            },
            {
              "content": "={{ JSON.stringify({ mode: $('Sample Property Input').item.json.mode, context: $json }, null, 2) }}"
            }
          ]
        },
        "simplify": false,
        "options": {}
      },
      "id": "ad1b406e-6875-4bcc-8d6d-74c687a2404a",
      "name": "Generate Compliance Assessment",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        13168,
        1216
      ],
      "credentials": {
        "openAiApi": {
          "id": "P3sjvOYvGpuy8TyT",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "id": "b5e8349a-783c-44fa-9de5-5028a3d338a9",
      "name": "Merge Context + Features",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        13008,
        1216
      ]
    },
    {
      "parameters": {
        "jsCode": "const raw = $json.output?.[0]?.content?.[0]?.text || $json.choices?.[0]?.message?.content;\nif (!raw) throw new Error('No model text found');\nreturn [{ json: JSON.parse(raw) }];"
      },
      "id": "7933d0a6-3738-4ba2-a2b7-51206449216b",
      "name": "Parse Features JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        12784,
        1376
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4o"
        },
        "messages": {
          "values": [
            {
              "content": "You are a property feature extraction engine.\n\nAnalyze the provided property context and the attached image (if present), and extract observable property features in a structured format for later comparison against rules.\n\nBe strict about observability:\n- Only include features that are directly visible in the image, explicitly described, or strongly implied.\n- Do not invent details.\n- If something cannot be determined, set it to null.\n- Prefer null over guessing.\n\nReturn ONLY valid JSON. No markdown. No commentary. No code fences.\n\nOutput schema:\n{\n  \"property_summary\": {\n    \"address\": \"string\",\n    \"confidence\": \"high | medium | low\",\n    \"notes\": [\"string\"]\n  },\n  \"features\": {\n    \"lawn_landscaping\": {\n      \"grass_height_estimate\": \"short | moderate | overgrown | null\",\n      \"visible_weeds\": true,\n      \"dead_vegetation\": true,\n      \"maintained\": true,\n      \"notes\": [\"string\"]\n    },\n    \"trash_bins\": {\n      \"visible_from_street\": true,\n      \"screened_or_hidden\": true,\n      \"placement\": \"curb | side_yard | front_yard | backyard | unknown | null\",\n      \"notes\": [\"string\"]\n    },\n    \"parking_vehicles\": {\n      \"vehicles_visible\": true,\n      \"vehicles_on_lawn\": true,\n      \"inoperable_vehicle_signs\": true,\n      \"excess_vehicle_count\": true,\n      \"notes\": [\"string\"]\n    },\n    \"fencing\": {\n      \"present\": true,\n      \"type\": \"wood | chain_link | vinyl | metal | mixed | unknown | null\",\n      \"condition\": \"good | worn | damaged | leaning | null\",\n      \"height_estimate\": \"low | standard | tall | unknown | null\",\n      \"notes\": [\"string\"]\n    },\n    \"accessory_structures\": {\n      \"present\": true,\n      \"types\": [\"shed\", \"garage\", \"carport\", \"other\"],\n      \"condition\": \"good | worn | deteriorating | makeshift | null\",\n      \"permanent_vs_temporary\": \"permanent | temporary | unknown | null\",\n      \"notes\": [\"string\"]\n    },\n    \"exterior_appearance\": {\n      \"paint_condition\": \"good | faded | peeling | null\",\n      \"visible_damage\": true,\n      \"roof_condition\": \"good | worn | damaged | unknown | null\",\n      \"general_maintenance\": \"well_maintained | average | neglected | null\",\n      \"notes\": [\"string\"]\n    },\n    \"signage\": {\n      \"present\": true,\n      \"types\": [\"political\", \"commercial\", \"temporary\", \"other\"],\n      \"quantity_estimate\": \"low | moderate | high | null\",\n      \"notes\": [\"string\"]\n    },\n    \"animals\": {\n      \"visible_animals\": true,\n      \"types\": [\"dog\", \"cat\", \"livestock\", \"other\"],\n      \"loose_or_uncontained\": true,\n      \"notes\": [\"string\"]\n    },\n    \"drainage_water\": {\n      \"standing_water\": true,\n      \"drainage_issues_visible\": true,\n      \"runoff_direction_concern\": true,\n      \"notes\": [\"string\"]\n    },\n    \"building_permits\": {\n      \"recent_construction_visible\": true,\n      \"unpermitted_signs\": true,\n      \"notes\": [\"string\"]\n    },\n    \"setbacks\": {\n      \"structures_near_property_line\": true,\n      \"possible_encroachment\": true,\n      \"notes\": [\"string\"]\n    },\n    \"occupancy_use\": {\n      \"apparent_use\": \"single_family | multi_family | commercial | mixed | unknown | null\",\n      \"over_occupancy_signs\": true,\n      \"non_residential_activity\": true,\n      \"notes\": [\"string\"]\n    }\n  }\n}\n\nRules:\n- Always include all sections and fields.\n- Use null when a value cannot be determined.\n- Boolean fields: true only when clear evidence exists, false only when clearly absent, otherwise null.\n- Do not infer violations here — this step is purely descriptive.",
              "role": "system"
            },
            {
              "content": "={{ 'Analyze the following property context and the attached image.\\n\\n' + JSON.stringify($json, null, 2) }}"
            },
            {
              "content": "={{ $json.property_image_url }}"
            }
          ]
        },
        "simplify": false,
        "options": {}
      },
      "id": "361cbf30-a0ca-4cdc-b73e-8fe0c059b908",
      "name": "Extract Property Features",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        12480,
        1376
      ],
      "credentials": {
        "openAiApi": {
          "id": "P3sjvOYvGpuy8TyT",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Both demo and live branches land here.\n// Pull the accumulated workflow context from Build Full Address,\n// then attach whichever image fields arrived from this branch.\nconst ctx = $('Build Full Address').first().json;\nconst img = $input.first().json;\n\nreturn [{\n  json: {\n    ...ctx,\n    property_image_url: img.property_image_url || '',\n    image_source: img.image_source || 'unknown',\n    image_note: img.image_note || ''\n  }\n}];"
      },
      "id": "23ff03b3-f233-4121-aa15-4547ae675eb3",
      "name": "Build Vision Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        12304,
        1200
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "property_image_url",
              "value": "={{ $json.status === 'OK' && $json.location ? 'https://maps.googleapis.com/maps/api/streetview?size=640x640&location=' + encodeURIComponent($json.location.lat + ',' + $json.location.lng) + '&fov=90&heading=0&pitch=0&return_error_code=true&key=AIzaSyCQD3tjvod5oRhjs6j6EymmYEJB2sML74I' : '' }}",
              "type": "string",
              "id": "img-url-sv"
            },
            {
              "name": "image_source",
              "value": "streetview",
              "type": "string",
              "id": "img-src-sv"
            },
            {
              "name": "image_note",
              "value": "={{ $json.status === 'OK' ? 'Street View imagery available' : 'No Street View imagery available — image analysis will rely on context only' }}",
              "type": "string",
              "id": "img-note-sv"
            }
          ]
        },
        "options": {}
      },
      "id": "23241f7c-b932-47e8-8c22-ecadf3e1495b",
      "name": "Build Street View Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        12112,
        1360
      ]
    },
    {
      "parameters": {
        "url": "https://maps.googleapis.com/maps/api/streetview/metadata",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "location",
              "value": "={{ $('Build Full Address').item.json.full_address }}"
            },
            {
              "name": "size",
              "value": "640x640"
            },
            {
              "name": "key",
              "value": "AIzaSyCQD3tjvod5oRhjs6j6EymmYEJB2sML74I"
            }
          ]
        },
        "options": {}
      },
      "id": "da19d62e-9134-42a2-9d15-ab62318d0ab5",
      "name": "StreetView Metadata",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        11872,
        1360
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "property_image_url",
              "value": "={{ $json.url || $json.data?.[0]?.url || '' }}",
              "type": "string",
              "id": "img-url-dalle"
            },
            {
              "name": "image_source",
              "value": "dalle",
              "type": "string",
              "id": "img-src-dalle"
            },
            {
              "name": "image_note",
              "value": "AI-generated image with seeded violations (DALL-E 3)",
              "type": "string",
              "id": "img-note-dalle"
            }
          ]
        },
        "options": {}
      },
      "id": "8737c164-121c-487b-bb2f-2e5cb3f82472",
      "name": "Build Image Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        12112,
        1040
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $('Sample Property Input').item.json.demo_mode }}",
              "value2": true
            }
          ]
        }
      },
      "id": "f12e76e2-ac4d-47b0-9100-54745282f2c3",
      "name": "Demo Mode?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        11664,
        1200
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "full_address",
              "value": "={{ [$json.street_address || $json.input_address, $json.city, $json.state, $json.postal_code].filter(Boolean).join(', ') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "46cfc366-6f93-4a08-a459-17d7dbbc148b",
      "name": "Build Full Address",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        11504,
        1200
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "id": "240e6b8f-20b9-4d16-b6a2-aad3e0316f7a",
      "name": "Merge Jurisdiction + Rules",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        11328,
        1200
      ]
    },
    {
      "parameters": {
        "jsCode": "const raw = $json.output?.[0]?.content?.[0]?.text || $json.choices?.[0]?.message?.content;\nif (!raw) throw new Error('No model text found');\nreturn [{ json: JSON.parse(raw) }];"
      },
      "id": "46d7efef-45ac-4b04-97ab-5798c953d62d",
      "name": "Parse Rules JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        11088,
        1424
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-5.1",
          "mode": "list",
          "cachedResultName": "GPT-5.1"
        },
        "messages": {
          "values": [
            {
              "content": "You are a property compliance rule extraction and normalization engine.\n\nYour job is to take jurisdiction context and any provided source text, and return a structured set of property-related rules suitable for later automated comparison against a property.\n\nBe strict about grounding:\n- Only place a rule in \"rules\" if it is explicitly supported by provided source text or clearly established source details.\n- If a rule is only a likely or general expectation, place it in \"inferred_rules\" instead.\n- Do not invent statute numbers, ordinance numbers, URLs, thresholds, permit requirements, or HOA restrictions.\n- Do not present guesses as facts.\n\nReturn ONLY valid JSON. No markdown. No commentary. No code fences.\n\nOutput schema:\n{\n  \"sources\": [\n    {\n      \"source_type\": \"city | county | state | hoa\",\n      \"source_name\": \"string\",\n      \"status\": \"found | partial | not_found\",\n      \"source_confidence\": \"high | medium | low\",\n      \"url\": \"string or null\",\n      \"notes\": \"string or null\"\n    }\n  ],\n  \"rules\": [\n    {\n      \"rule_id\": \"string\",\n      \"source_type\": \"city | county | state | hoa\",\n      \"source_name\": \"string\",\n      \"category\": \"lawn_landscaping | trash_bins | parking_vehicles | fencing | accessory_structures | exterior_appearance | signage | animals | drainage_water | building_permits | setbacks | occupancy_use\",\n      \"rule_text\": \"string\",\n      \"applies_to\": \"string\",\n      \"measurable\": true,\n      \"severity_hint\": \"low | moderate | high\",\n      \"enforcing_authority\": \"city | county | state | hoa\",\n      \"ambiguity\": \"low | medium | high\",\n      \"evidence_basis\": \"explicit\"\n    }\n  ],\n  \"inferred_rules\": [\n    {\n      \"rule_id\": \"string\",\n      \"source_type\": \"city | county | state | hoa\",\n      \"source_name\": \"string\",\n      \"category\": \"lawn_landscaping | trash_bins | parking_vehicles | fencing | accessory_structures | exterior_appearance | signage | animals | drainage_water | building_permits | setbacks | occupancy_use\",\n      \"rule_text\": \"string\",\n      \"applies_to\": \"string\",\n      \"measurable\": true,\n      \"severity_hint\": \"low | moderate | high\",\n      \"enforcing_authority\": \"city | county | state | hoa\",\n      \"ambiguity\": \"low | medium | high\",\n      \"evidence_basis\": \"inferred\"\n    }\n  ],\n  \"unresolved_sources\": [\"hoa | city | county | state\"]\n}\n\nRules:\n- Always include all top-level fields.\n- If a source cannot be identified or verified, include it in unresolved_sources.\n- Do not include a source in unresolved_sources if it already appears in sources with status found or partial.\n- Do not fabricate HOA rules unless HOA information or HOA source text is explicitly provided.\n- Do not guess exact numeric thresholds unless explicitly provided.\n- Avoid words like typically, commonly, usually, or generally in explicit rules.\n- If a likely rule is useful but not explicitly supported, place it in inferred_rules instead of rules.",
              "role": "system"
            },
            {
              "content": "={{ JSON.stringify($json, null, 2) }}"
            }
          ]
        },
        "simplify": false,
        "options": {}
      },
      "id": "d2217ce6-6cf0-40dd-868c-c5b86aabbe42",
      "name": "Fetch and Normalize Rules",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        10768,
        1424
      ],
      "credentials": {
        "openAiApi": {
          "id": "P3sjvOYvGpuy8TyT",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = $json.output?.[0]?.content?.[0]?.text || $json.choices?.[0]?.message?.content;\nif (!raw) throw new Error('No model text found');\nreturn [{ json: JSON.parse(raw) }];"
      },
      "id": "af61dcc3-6ab1-40dc-be9c-90642e5a8716",
      "name": "Parse Jurisdiction JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        10640,
        1184
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-5.1",
          "mode": "list",
          "cachedResultName": "GPT-5.1"
        },
        "messages": {
          "values": [
            {
              "content": "You are a property jurisdiction resolver for a multi-stage property compliance workflow.\n\nYour job is to take a property location input and return a normalized jurisdiction record that later workflow steps can use.\n\nYou may receive incomplete input. Infer only when reasonable. Prefer null over guessing.\n\nReturn ONLY valid JSON. No markdown. No commentary. No code fences.\n\nOutput schema:\n{\n  \"input_address\": \"string\",\n  \"normalized_address\": \"string or null\",\n  \"street_address\": \"string or null\",\n  \"city\": \"string or null\",\n  \"county\": \"string or null\",\n  \"state\": \"string or null\",\n  \"state_code\": \"string or null\",\n  \"postal_code\": \"string or null\",\n  \"country\": \"string or null\",\n  \"country_code\": \"string or null\",\n  \"hoa_name\": \"string or null\",\n  \"subdivision\": \"string or null\",\n  \"parcel_lookup_hint\": \"string or null\",\n  \"city_code_lookup_hint\": \"string or null\",\n  \"county_code_lookup_hint\": \"string or null\",\n  \"state_code_lookup_hint\": \"string or null\",\n  \"hoa_lookup_hint\": \"string or null\",\n  \"confidence\": \"high | medium | low\",\n  \"needs_review\": true,\n  \"notes\": [\"string\"]\n}\n\nRules:\n- Always include every field in the schema.\n- If a value is unknown, use null.\n- If the address is partial, preserve the original input and normalize only what can be reasonably determined.\n- state should be the full state name when known.\n- state_code should be the 2-letter abbreviation when known.\n- country should default to United States and country_code to US only if the address strongly appears to be in the US.\n- Do not fabricate HOA names or subdivision names.",
              "role": "system"
            },
            {
              "content": "={{ JSON.stringify($json, null, 2) }}"
            }
          ]
        },
        "simplify": false,
        "options": {}
      },
      "id": "612684f7-b4f7-493e-92d0-dea0ece61133",
      "name": "Resolve Jurisdiction",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        10320,
        1184
      ],
      "credentials": {
        "openAiApi": {
          "id": "P3sjvOYvGpuy8TyT",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "street",
              "value": "2029 Bent Tree Loop",
              "type": "string",
              "id": "904f4d04-5e45-451e-92c6-435237e9d63d"
            },
            {
              "name": "city",
              "value": "Round Rock",
              "type": "string",
              "id": "1e2bbe56-9973-4600-8b53-336b2c2e605f"
            },
            {
              "name": "state",
              "value": "Texas",
              "type": "string",
              "id": "b59ba89b-702f-4755-a0bc-aeb0bd90a333"
            },
            {
              "name": "zip",
              "value": "78664",
              "type": "string",
              "id": "f370433a-982d-4b0b-afba-5df7232b588f"
            },
            {
              "name": "hoa_name",
              "value": "Bent Tree Homeowners Association",
              "type": "string",
              "id": "64df217b-b6cf-4587-9f4b-cdbad9a23a9b"
            },
            {
              "name": "property_notes",
              "value": "No manual observations yet. Use visual context if available.",
              "type": "string",
              "id": "2547004e-f3ba-499d-bfd4-21adf5395d2e"
            },
            {
              "name": "mode",
              "value": "chaos",
              "type": "string",
              "id": "77084e96-0f48-4be1-94f8-8b425a2b276a"
            },
            {
              "name": "demo_mode",
              "value": true,
              "type": "boolean",
              "id": "b0e5cbcb-1293-4400-9bf9-99132f7c5ad3"
            },
            {
              "name": "image_description",
              "value": "Suburban house, slightly overgrown lawn, one mismatched shutter on an upstairs window, trash can visible from the street, basketball hoop in the driveway, a boat under a tarp on the side of the house",
              "type": "string",
              "id": "14fdf0c9-1b09-4af3-aee1-25792efb37bd"
            },
            {
              "name": "recipient_email",
              "value": "donnie_taylor@outlook.com",
              "type": "string",
              "id": "a813ba22-2661-401a-abe9-8b182b7a5f7e"
            }
          ]
        },
        "options": {}
      },
      "id": "6e5e880d-c0da-4987-92b4-3ad51ec8c301",
      "name": "Sample Property Input",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        10128,
        1184
      ]
    },
    {
      "parameters": {},
      "id": "bfd68253-3149-47a7-a0d2-394466ce5d06",
      "name": "When clicking 'Execute workflow'",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        9904,
        1184
      ]
    }
  ],
  "connections": {
    "Generate an image": {
      "main": [
        [
          {
            "node": "Build Image Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse HOA Email": {
      "main": [
        [
          {
            "node": "Send HOA Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate HOA Email": {
      "main": [
        [
          {
            "node": "Parse HOA Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Assessment JSON": {
      "main": [
        [
          {
            "node": "Generate HOA Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Compliance Assessment": {
      "main": [
        [
          {
            "node": "Parse Assessment JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Context + Features": {
      "main": [
        [
          {
            "node": "Generate Compliance Assessment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Features JSON": {
      "main": [
        [
          {
            "node": "Merge Context + Features",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Extract Property Features": {
      "main": [
        [
          {
            "node": "Parse Features JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Vision Context": {
      "main": [
        [
          {
            "node": "Merge Context + Features",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extract Property Features",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Street View Fields": {
      "main": [
        [
          {
            "node": "Build Vision Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "StreetView Metadata": {
      "main": [
        [
          {
            "node": "Build Street View Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Image Fields": {
      "main": [
        [
          {
            "node": "Build Vision Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Demo Mode?": {
      "main": [
        [
          {
            "node": "Generate an image",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "StreetView Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Full Address": {
      "main": [
        [
          {
            "node": "Demo Mode?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Jurisdiction + Rules": {
      "main": [
        [
          {
            "node": "Build Full Address",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Rules JSON": {
      "main": [
        [
          {
            "node": "Merge Jurisdiction + Rules",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Fetch and Normalize Rules": {
      "main": [
        [
          {
            "node": "Parse Rules JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Jurisdiction JSON": {
      "main": [
        [
          {
            "node": "Merge Jurisdiction + Rules",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch and Normalize Rules",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resolve Jurisdiction": {
      "main": [
        [
          {
            "node": "Parse Jurisdiction JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sample Property Input": {
      "main": [
        [
          {
            "node": "Resolve Jurisdiction",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking 'Execute workflow'": {
      "main": [
        [
          {
            "node": "Sample Property Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "96abc2368f3dd85ab69fb2c62525c3e4052a5ad9d1f964111a7d0f10c7053371"
  }
}